*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{    font-family: 'Roboto Mono', monospace;
    background-image: url('../images/background.jpeg');
    background-size: center;
    background-repeat: no-repeat;
}
/* .container{
    display: flex;
    justify-content: center;
} */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    right: 45vw;

}
.main>h1{
    font-weight: bolder;
    
}
nav{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
ul>li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 1rem;
    padding: 15px;
}

.navbar{
    position: absolute;
    top: 20px;
}
.left{
    padding-right: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.right{
    position: absolute;
    top: 20px;
    right: 20px;
}
footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 7vh;
    right: 20vw;
}
ul{
    display: flex;
}
.down-space{
    padding: 30px;
}
button{
   position: absolute;
   bottom: 20px;
   /* right: 10px; */
    text-align: center;
    width: 168px;
    background-color: rgba(230, 208, 208, 0.623);

    border: 2px solid black;
    height: 20px;
}
h3{
    font-weight: bold;
    text-align: center;
}
