* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;

}

h1 {
    font-size: 5rem;
    font-weight: bold;

}

.coming-soon {

    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;



}


.day,
.hour,
.minut,
.second {
    font-size: 2rem;
}

img {
 margin-top: 2em;
    height: 50vh;
    
    
}